body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: auto;
} */

@font-face {
  font-family: Montserrat;
  src: url('./fonts/montserrat-v15-latin-300.woff') format('truetype');
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/montserrat-v15-latin-regular.woff') format('truetype');
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/montserrat-v15-latin-500.woff') format('truetype');
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/montserrat-v15-latin-600.woff') format('truetype');
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: Montserrat;
  src: url('./fonts/montserrat-v15-latin-700.woff') format('truetype');
  font-weight: 700;
  font-display: auto;
}